<app-home></app-home>
<div class="col-md-6">
  <!-- class="btn btn-danger" (click)="addUFournisseur()"> Add Fournisseur</button-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Email</th>
      <th>Tel</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fournisseur of fournisseurs">
      <td class="hidden"></td>
      <td><a [routerLink]="['/add-fournisseur']"></a>{{fournisseur.id}}</td>
      <td>{{fournisseur.nom}}</td>
      <td>{{fournisseur.email}}</td>
      <td>{{fournisseur.adresse}}</td>
      <td>{{fournisseur.tel}}</td>
     </tr>
    </tbody>
  </table>
  <button mat-fab color="primary" style="margin-left: 35%" [routerLink]="['/add-fournisseur']" >Add</button>
</div>

